select::-ms-expand {

  display: none;

}

select{

  appearance: none;

  -webkit-appearance: none;

  -moz-appearance: none;

  background: url(../images/select-arrow.png) right center no-repeat #fff;

}



input.has-error,

select.has-error {

  border: 1px solid orange !important;

  background: url(../images/error-input.png) 99.5% 50% no-repeat #fff !important;

}



input.no-error,

select.no-error {

  background: url(../images/tick-input.png) 99.5% 50% no-repeat #fff !important;

  border: 1px solid green !important;

}



#app_common_modal,

#error_handler_overlay {

  overflow: hidden;

}



#app_common_modal .app_modal_body {

  margin: 30px auto;

}



@media screen and (min-width:320px) and (max-width:767px) and (orientation:landscape) {

  #app_common_modal .app_modal_body {

    min-height: 180px;

    margin: 30px auto;

  }

  #app_common_modal .app_modal_body iframe {

    min-height: 180px;

  }

}



@media screen and (min-width:320px) and (max-width:1200px) and (orientation:landscape) {

  #app_common_modal .app_modal_body {

    min-height: 180px;

    margin: 30px auto;

  }

  #app_common_modal .app_modal_body iframe {

    min-height: 180px;

    height: 180px;

    overflow-y: scroll;

  }

  #app_common_modal .app_modal_body,

  #error_handler_overlay .error_handler_body {

    height: auto;

  }

  .error_handler_body ul li {

    font-size: 12px;

  }

  #error_handler_overlay .error_handler_body ul {

    height: 180px;

    overflow: scroll;

  }

}



#app_common_modal_close,

#error_handler_overlay_close {

  line-height: 26px;

}

#error_handler_overlay .error_handler_body{

  margin: 30px auto;

}



.timer-line {

    text-align: center;

    width: 100%;

    background: #000;

    line-height: 2;

}

#loading-indicator:after,

#loading-indicator:before{

    display:none;

}

.white_box{

    background: #fff;

    border-radius: 5px;

    color: #000;

    font-family: arial;

    font-size: 17px;

    height: 110px;

    padding:10px;

    max-width: 300px;

    width:95%;

    z-index: 1;

    text-align:center;

    position: absolute;

    left: 50%;

    top: 50%;

    transform: translate(-50%, -50%);

    -webkit-transform: translate(-50%, -50%);

    -moz-transform: translate(-50%, -50%);

}

.white_box i,

.white_box span{

    display:block;

}

.white_box span{

    margin:top:5px;

}

.white_box img{

    max-width: 64px;

    width: 100%;

    display: inline-block;

}

@media(max-width:480px){

    .white_box span{

        font-size:14px;

    }

}

@media(min-width:768px)and (max-width:1199px){

    .cta-block__bottle img{

        width:120px;

        margin-top: -40px !important;

    }

}

@media(min-width:768px){
    #odrsmry{
        max-width: 650px;
        margin: 0px auto;
    }   
}